h1,h2,h3,h4,h5,h6,p {
    margin:0;
    padding:0;
    }
    
body {
    background-color:#D795EE;
    width: 1024px;
    height: 1366px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    
}

.body-container {
    width: 700px ;
    margin:0 auto;
}

#slime {
    width: 1024px;
    height: 192px;
    margin: 0 auto;
    align-self:center;
    overflow:visible;
}

/* ****letterform and button**** */

#letterform-character 
{
    color: #1C7B20;
    font-family: Creepster;
    font-size: 46.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 321px;
    height: 877px;
    margin:0;
    
}

#letterform-container {
    position:relative;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items:flex-start;
    margin: 0 auto;
    margin-top: -135px;
    margin-bottom: -100px;
}

#skeleton {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top:160px;
    right:-63px;
    transition: opacity 0.5s;
}

#skeleton.visible {
    visibility:visible;
    opacity: 1;
    transition: opacity 0.5s;
}

#button {
    position:relative;
    flex-shrink: 0;
    top: 300px;
    right: -45px;
    /* margin: 0 auto; */
}

/* #hover-button {
    display: none;
    position: absolute;
} */

#button:hover {
    background-color:black;
    cursor: pointer;
}

/* #button:active {
    
} */

#content {
    display:flex;
    justify-content: space-between;
    margin: auto 0;
    width: 700px;
    height: 270px;
}

#image-and-other {
    display: flex;
    margin-bottom: auto;
}


/* ***styling*** */

.alpha {
    color: #36E43D;
    font-family: Creepster;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 20px;
    width: 700px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.alpha::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

.alpha::-webkit-scrollbar-track {
    background-color: #aea9c1;
}

.alpha::-webkit-scrollbar-thumb {
    background-color: #1C7B20

}

.bodytext {
    height: 270px;
    width: 270px;
    flex-shrink: 0;
    color: #0E360F;
    font-family: Crimson Pro;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bodytext em {
    color: #1C7B20;
    font-family: Creepster;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.heading {
    color: #1C7B20;
    font-family: Creepster;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#photo {
    border-radius: 5.6875rem;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 5.625rem;
    height: 5.6875rem;
    flex-shrink: 0;
}

#creepster-heading {
    color: #1C7B20;
    font-family: Creepster;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
    margin-bottom: 21px;
    margin-top: 21px;
}
