h1,h2,h3,h4,h5,h6,p {
    margin:0;
    padding:0;
    }
    
body {
    background-color:#D795EE;
    width: 1024px;
    height: 1366px;
    margin: auto;
    
}

#slime {
    width: 1183px;
    height:279px;
    margin: auto 0;
    align-self:center;
    border-top: 100%;
}

/* ****letterform and button**** */

#letterform-character 
{
    color: #1C7B20;
    font-family: Creepster;
    font-size: 46.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 321px;
    height: 877px;
    /* margin:0 auto; */
    
}

#letterform-container {
    position:relative;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items:center;
}

#skeleton {
    display: none;
    position: absolute;
}

#button {
    position:relative;
    flex-shrink: 0;
    /* margin: 0 auto; */
}

#hover-button {
    display: none;
    position: absolute;
}

#button:hover {
    background-color:black;
    cursor: pointer;
}

/* #button:active {
    
} */

#content {
    display:flex;
    justify-content: space-between;
    margin: auto 0;
}

#image-and-other {
    display: flex;
    margin-bottom: auto;
}


/* ***styling*** */



#alpha {
    color: #36E43D;
font-family: Creepster;
font-size: 100px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-self: center;
}

.bodytext {
    width: 16.875rem;
    height: 16.875rem;
    flex-shrink: 0;
    color: #0E360F;
    font-family: Crimson Pro;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bodytext em {
    color: #1C7B20;
font-family: Creepster;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.heading {
    color: #1C7B20;
font-family: Creepster;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#photo {
border-radius: 5.6875rem;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
width: 5.625rem;
height: 5.6875rem;
flex-shrink: 0;
}

#creepster-heading {
    color: #1C7B20;
font-family: Creepster;
font-size: 4rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

h1 {
    margin:60px;
}
