/* This is the main css stylesheet for ahigareda76.github.io/project-2 site */

/******************
typography */
:root {
    --sans:"franklin-gothic-atf", 
    sans-serif;
    --display:"ccmonstermash", 
    sans-serif;
    --display2:"ccmonstermashworn",
     sans-serif;
}

/****************** 
color */

body {
    margin: auto 0;
    background-color: #202020;
    color:white;
    font-family:var(--sans);
    font-size: 18px;
}

/****************** 
navagation */
#nav {
    font-family:var(--display);
    color:black;
    display:flex;
    flex-direction: row;
}

h1 {
    font-size:64px;
}

h2 {
    font-size: 32px;
}

/******************
layout */
#flim {
    margin: auto 0;
    width: 1400px;
}

#monsters{  
    margin: auto 0;
}

.intro {
    margin: auto 0;
    width: 852px;
    height: 334px;
    font-size: 24px;
}

section {
    width: 100vw;
    height: 100vh;
    padding: 60px;
}

/********************Frankenstein*****************/

#first-section {
}

.frank {
    display:flex;
    flex-direction: row;
}

.info-f {
    width: 557px;
    height: 386px;
}

/***********************Gillman************ */

#second-section {

}

.gill {
    display:flex;
    flex-direction: row;
}

.info-g {
    width: 562px;
    height: 347px;
}

/* *****************dracula*************** */
#third-section {
  
}

#dracy {
    width: 264px;
    height: 396px;
}

.drac {
    display:flex;
    flex-direction: row;
}

.info-d {
    width: 558px;
    height: 373px;
}

/*************button*********** */

button {
    background-color:#7F2424;
    border-radius: 7px;
    font-family:var(--display);
    color: white;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    width: 299px;
    height: 86px;
  }