/* This is the main css stylesheet for ahigareda76.github.io/project-2 site */

/********************************************typography */
:root {
    --sans:"franklin-gothic-atf", 
    sans-serif;
    --display:"ccmonstermash", 
    sans-serif;
    --display2:"ccmonstermashworn",
     sans-serif;
}

h1 {
    font-family:var(--display)
}

/****************** ***********************************color */

body {
    background-color: #202020;
    color:white;
    font-family:var(--sans);
    font-size: 18px;
    margin: auto 0;
}

.line-break {
    height: 1px;
    width:263px;
    background-color: white;
}

/************************************************navagation */

nav {
    display:flex;
    width:100%;
    justify-content: space-between;
    padding: 56px;
    position:relative;
}

nav h1 {
    display:contents;
    position:absolute;
}

nav ul li {
    list-style-type: none;
    display:contents;
}

#nav-home {
    position:absolute;
    left:164px;
}

#film {
    position:absolute;
    top:0;
    left:0;
}

h1 {
    font-size:64px;
}

h2 {
    font-size: 32px;
}

/******************
layout */

.flex {
    display:flex;
    flex-direction: row;
}

.container {
    width: 852px;
    margin: 0 auto;
    position: relative;
}

.div {
    margin-left:30px;
}

#flim {
    margin: auto 0;
    width: 1400px;
}

#monsters{  
    margin: auto 0;
    position: relative;
    top: 40px;
}

.intro {
    margin: auto 0;
    width: 852px;
    height: 334px;
    font-size: 24px;
}

section {
    width: 100%;
    height: 100%;
}

/********************Frankenstein*****************/
#frank-poster {
    width: 264px;
    height: 396px;
}
#first-section {
    position:relative;
}

.section-background1 {
    position:absolute;
    top:0;
    left:0;
}

.info-f {
    width: 557px;
    height: 386px;
}

/***********************Gillman************ */

#second-section {
    position:relative;
}

.section-background2 {
    position: relative;
    top: 67px;
    left: 0;
}


.info-g {
    width: 562px;
    height: 347px;
}

/* *****************dracula*************** */
#third-section {
    position:relative;
}
.section-background3 {
    position: relative;
    top: 238px;
    left: 0;
}

#dracy {
    width: 264px;
    height: 396px;
}

.info-d {
    width: 558px;
    height: 373px;
}

/*************button*********** */

button {
    background-color:#7F2424;
    border-radius: 7px;
    font-family:var(--display);
    color: white;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    width: 299px;
    height: 86px;
  }

  /*************************************Frankenstein Page**************************** */

#paragraph-1 {
    height:295px;
    width:600px;
}

#paragraph-2 {
    height:228px;
    width:600px;
}

#paragraph-3 {
    height:325px;
    width:600px;
}

#paragraph-4 {
    height:346px;
    width:600px;
}

#paragraph-5 {
    height:259pxpx;
    width:600px;
}


   /*************************************Gillman Page**************************** */

#green-water {
}

#para-1 {
    height:171px;
    width: 600px;
}

#para-2 {
    height:192px;
    width:600px;
}

#para-3 {
    height:325px;
    width:600px;
}

#para-4 {
    height:501px;
    width:600px;
}

.titles {
    font-size: 32px;
}

/* *****************************************************Dracula */

#parag-1 {
    height:352px;
    width:600px;
}

#parag-2 {
    height:390px;
    width:597px;
}

#parag-3 {
    height:765px;
    width:597px;
}